.account-wrapper{
    background-image: url(../images/accounts.jpg);
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    .account-wrap-inner{
        padding: 50px 0px 0px 0px;
        background: #222222d9;
        min-height: 100vh;
        .container{
            min-height:100vh;
        }
        .account-title{
            // color: #44d62c;
            @include gradientText;
            font-size: 24px;
            font-weight: 300;
            letter-spacing: .04em;
            text-transform: uppercase;
            margin-bottom: 20px;
        }  
        .account-item {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 55px;
            margin-bottom: 10px;
            background-color: #111;
            cursor: pointer;
            text-decoration: none;
            transition: background-color .1s ease-in-out;
            .label {
                display: flex;
                align-items: center;
                flex-shrink: 0;
                width: 170px;
                padding: 20px 16px;
                font-size: 14px;
                word-break: break-word;
                text-transform: capitalize;
                color: $white;
            }
            .info {
                display: flex;
                min-width: 0;
                padding: 20px 0px;
                flex: 1 1;
                color: #888;
                font-size: 12px;
                align-items: center;
            }
            .icon {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;
                width: 12px;
                margin-right: 19px;
                margin-left: 10px;
                &:before {
                    content: "";
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    margin: auto;
                    background-repeat: no-repeat;
                    background-position: 50%;
                    background-size: 100%;
                    width: 7px;
                    height: 12px;
                    background-image: url(../images/chevron-right.svg);
                }
                
            }
            &:hover{
                background-color: $black;
            }
        }
        .locked {
            .icon{
                &:before {
                    width: 12px;
                    height: 15px;
                    background-image: url(../images/lock-gray.svg) !important;
                }
            }
        }
    }
}

.mobile-user-avatar{
    display: none;
    height: 220px;
    width: 100%;
    background-color: $darkgrey_color;
    .avatar-box{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar-inner{
            width: 150px;
            height: 150px;
            border: 3px solid #fff;
            border-radius: 50%;
            overflow: hidden;
            img{
                height: 100%;
                width: 100%;
            }
        }
    }
}


// link accounts 
.add-info-wrapper{
    margin-top: 50px;
    min-height: 62vh;
    height: auto;
    .add-info-inner{
        .page-title{
            margin-bottom: 10px;
            padding-left: 15px;
            h3{
                @include gradientText;
                // color: $primary_color;
                font-size: 24px;
                font-weight: 300;
                letter-spacing: 0.04em;
                text-transform: uppercase;
            }
        }
        .page-description{
            margin-bottom: 20px;
            padding-left: 15px;
            p{
                color: $white;
            }
        }
        .input-label{
            padding-left: 15px;
            font-weight: 700;
            text-transform: uppercase;
            color: $white;
        }
        .input-container-2{
            position: relative;
            max-width: 100%;
            flex-direction: row-reverse;
            display: flex;
            align-items: center;
            margin-bottom: 1px;
            cursor: pointer;
            z-index: 1;
            background-color: #111;
            height: 51px;
            &:hover{
                background-color: #000;
            }
            .form-control-2 {
                display: block;
                width: 100%;
                height: 50px;
                margin: 0;
                outline: none;
                border: none;
                border-radius: 0;
                background-color: transparent;
                padding: 0 16px;
                color: #f4f4f4;
                font-size: 16px;
            }
            .select2-container--default .select2-selection--single{
                background-color: transparent !important;
                border: 0px;
            }
            .select2-selection__rendered{
                color: $white;
            }
            .js-select2 {
                display: block;
                width: 100%;
                height: 50px;
                margin: 0;
                outline: none;
                border: none;
                border-radius: 0;
                background-color: transparent;
                padding: 0 16px;
                color: #f4f4f4;
                font-size: 16px;
            }
            .input-placeholder {
                position: relative;
                top: auto;
                left: auto;
                bottom: auto;
                flex-shrink: 0;
                width: 284px;
                height: 100%;
                margin: 0;
                padding: 16px;
                color: #888;
                font-size: 13px;
                text-transform: uppercase;
                cursor: default;
            }
        }
        .link-wrap{
            .accounts-list{
                margin-top: 20px;
                ul{
                    padding-left: 0px;
                    padding-right: 0px;
                    li{
                        background-color: #111;
                        width: 100%;
                        height: 60px;
                        margin-bottom: 5px;
                        list-style: none;
                        .social-icon{
                            height: 60px;
                            width: 60px;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .social-name{
                            padding-right: 20px;
                            p{
                                display: inline-block;
                                line-height: .8;
                                overflow: visible;
                                color: $white;
                                margin-bottom: 0px;
                            }
                        }
                        .connect-btn{
                            text-align: right;
                            button{
                                background-image: $gradient;
                                border: 0px;
                                font-size: 14px;
                                font-weight: 500;
                                height: 30px;
                                line-height: .35;
                                margin-right: 16px;
                                padding: 12px 24px;
                                border-radius: 3px;
                                transition: background-color .2s ease-out,opacity .2s ease-out;
                                &:hover{
                                    background-color: #7eff69;
                                }
                            }
                        }
                    }
                }
            }
        }
        .form-btns{
            display: flex;
            margin-top: 50px;
            justify-content: flex-start;
            .back{
                color: #f4f4f4;
                font-weight: 400;
                background-color: #707070;
                border-radius: 2px;
                border: 1px solid transparent;
                padding:12px 27px;
                font-size: 16px;
                line-height: 1;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color .2s ease-out,opacity .2s ease-out;
                -webkit-backface-visibility: hidden;
                &:hover{
                    background-color: #555;
                }
            }
            .next{
                color: #000000;
                font-weight: 400;
                background-image: $gradient;
                border-radius: 2px;
                border: 1px solid transparent;
                padding:12px 27px;
                font-size: 16px;
                line-height: 1;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
                cursor: pointer;
                transition: background-color .2s ease-out,opacity .2s ease-out;
                -webkit-backface-visibility: hidden;
                margin: 0px 15px;
                &:hover{
                    background-image: $gradient;
                    // opacity: 0.9;
                }
            }
        }
        .add-form{
            .select-phone{
                background-color: #111;
                height: 50px;
                & > .row{
                    height: 100%;
                }
                .input-placeholder{
                    height: 100%;
                    padding: 0px 15px;
                    line-height: 50px;
                    color: #888;
                }
                .iti {
                    height: 100%;
                    width: 100%;
                    input{
                        height: 100%;
                        width: 100%;
                        background-color: transparent !important;
                        border: 0px;
                        color: #888;
                        outline: none;
                        box-shadow: none;
                    }
                }
                .input-remove{
                    width: 100%;
                    height: 100%;
                    background: $darkgrey_color;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    button{
                        background: #555555;
                        border-radius: 50%;
                        border: 0px;
                        height: 25px;
                        width: 25px;
                        line-height: 25px;
                        text-align: center;
                        i{
                            color: $white;
                        }
                    }
                }
            }
            .info-box{
                margin-top: 30px;
                h5{
                    color: $white;
                    margin-bottom: 10px;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .form-label{
                    font-size: 16px;
                    margin-bottom: 10px;
                    color: #fff;
                }
                .form-text{
                    color: #888;
                }
                .input-box{
                    display: flex;
                    height: 50px;
                    background-color: #333;
                    .input-holder{
                        width: 45%;
                        line-height: 50px;
                        padding: 0px 15px;  
                        color: #888;
                    }
                    input{
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                        border: none;
                        height: 100%;
                        color: #888;
                        border-radius: 0px;
                    }
                    .select2-container {
                        width: 100% !important;
                        height: 100%
                    }
                    .select2-selection {
                        width: 100%;
                        background-color: transparent;
                        outline: none;
                        box-shadow: none;
                        border: none;
                        height: 100%;
                        color: #888;
                        border-radius: 0px;
                    }   
                    .select2-selection__rendered{
                        height: 100%;
                        line-height: 50px;
                    }
                    .select2-selection__clear{
                        display: none;
                    }
                    
                }
                .new-mail{
                    background-color: #111;
                    &:hover{
                        background-color: $black;
                    }
                }
            }
        }
        .two-step-main{
            .general-info{
                padding: 16px;
                background-color: #333;
                p{
                    color: #888;
                    font-size: 18px;
                }
            }
            .input-label{
                margin-bottom: 10px;
                font-weight: 700;
                text-transform: uppercase;
            }
            .tfa-list{
                margin-top: 15px;
                a{
                    color: $white;
                    text-decoration: none;
                }
                .tfa-item{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-grow: 0;
                    width: 100%;
                    min-height: 60px;
                    margin-bottom: 1px;
                    background-color: #111;
                    cursor: pointer;
                    text-decoration: none;
                    transition: background-color .1s ease-in-out,opacity .1s linear;
                    .label{
                        width: 250px;
                        padding: 12px 16px;
                        font-size: 14px;
                        flex-shrink: 0;
                        .recommended.text-green{
                            font-size: 11px;
                            margin-left: 7px;
                            color: #44d62c!important;
                        }
                    }
                    .info {
                        min-width: 0;
                        padding: 12px 0 13px;
                        margin-right: 10px;
                        flex: 1 1;
                        color: #888;
                        font-size: 14px;
                    }
                    .text-ellipsis {
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        .helper.text-red {
                            color: #c8323c!important;
                        }
                    }
                    .icon {
                        width: 12px;
                        height: 12px;
                        margin-right: 19px;
                        background-image: url(../images/chevron-right.svg);
                        background-repeat: no-repeat;
                        background-size: 7px 12px;
                        background-position: 50%;
                    }
                    &:hover{
                        background-color: $black;
                    }
                }
            }
        }
    }
}

.authentication-page{
    .footer-main_in{
        padding-bottom: 0px !important;
        position: absolute;
        bottom: 0px;
    }
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .account-wrapper.mobile {
        background: $darkgrey_color;
    }
    .mobile.account-wrapper .account-wrap-inner .account-item{
        display: block;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(51,51,51,.5);
        padding: 15px 15px 15px 16px;
        background: $darkgrey_color;
    }
    .mobile.account-wrapper .account-wrap-inner .account-item .label{
        width: 90px !important;
    }
    .mobile.account-wrapper .account-wrap-inner .account-item .label{
        width: 100%;
        padding: 0;
    }
    .mobile.account-wrapper .account-wrap-inner .account-item .info{
        padding: 0;
        font-size: 14px;
    }
    .mobile.account-wrapper .account-wrap-inner .account-item .icon{
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50px;
        margin: auto;
        &:before{
            -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
        }
    }
    .mobile.account-wrapper .account-title {
        margin-bottom: 0;
        padding: 16px;
        font-size: 16px;
        background-color: #1b1b1b;
    }
    .mobile{
        .mobile-user-avatar{
            display: block;
        }
    }
    
}

.iti--container{
    background-color: #555 !important;
    .iti__country-list{
        background-color: #555 !important;
        color: $white;
    }
    .iti__country {
        &:hover{
            background-color: #111;
        }
    }
    .iti__active{
        background-color: #111 !important;
    }

    
}
.acc-info-box{
    padding: 20px;
    margin: 12px;
    background: #333;
    p{
        color: $white;
        margin-bottom: 0px;
    }
    a{
        @include gradientText;
    }
}

.add-billing-address{
    .info-box{
        margin-bottom: 1px;
    }
}
.select2-dropdown{
    background: #222 !important;
    color: $white;
    .select2-search{
       input{
        background: #222 !important;
        color:$white;
        outline: none;
        box-shadow: none;
       }
        
    }
}
.select2-container--default .select2-results__option--selected{
    background-color: transparent !important;
    color:$primary_color;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
    background: #111111 !important;
    color: $white;
}

.mbl-form{
    display: none;
    input{
        background: transparent;
        color: $white !important;
        height: 50px !important;
        line-height: 50px;
        padding: 15px !important;
        border: 1px solid #333;
        
        &:focus{
            background: transparent;
            box-shadow: none;
            outline: none;
            border-color: $primary_color;
        }
        &:visited{
            background: transparent;
            box-shadow: none;
            outline: none;
            border-color: $primary_color;
        }
    }
    
    .form-floating > .form-control:focus ~ label, .form-floating > .form-control:not(:placeholder-shown) ~ label, .form-floating > .form-select ~ label{
        opacity: 1;
        transform: scale(0.75) translateY(-.7rem) translateX(-1rem);
        background: #222;
        width: fit-content;
        padding: 5px 10px;
        height: auto;
        color: $primary_color;
    }
    .form-selects{
        height: 51px;
        .select2-container{
            width: 100%;
            height: 100%;
        }
        .select2-selection{
            height: 100%;
        }
        .select2-container--default .select2-selection--single{
            border: 0px;
        }
        .js-select2{
            width: 100%;
            height: 100%;
        }
        .select2-container--default .select2-selection--single{
            background-color: transparent !important;
            border: 1px solid #333;
            .select2-selection__rendered{
                color: $white;
                height: 51px;
                line-height: 51px;
            }
        }
        .select2-container--default[dir="rtl"] .select2-selection--single .select2-selection__arrow{
            top: 30%;
        }
        label{
            opacity: 1;
            transform: scale(0.75) translateY(-.7rem) translateX(-1rem);
            background: #222;
            width: fit-content;
            padding: 5px 10px;
            height: auto;
            color: $primary_color;
            height: auto;
            padding: 5px 10px;
            width: fit-content;
        }
    }
}

// rtl styling 
.rtl {
    .add-info-wrapper .add-info-inner .two-step-main .tfa-list .tfa-item .icon{
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        padding-left:20px ;
    }
    .security-wrap .changing-options .custom-radio .radio{
        margin-right: 0px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 767px){
    // two step authentication 
    .add-info-wrapper .add-info-inner .mobile .general-info p{
        font-size: 14px;
    }
    .add-info-wrapper .add-info-inner .two-step-main .tfa-list .tfa-item{
        display: block;
        background-color: #222;
        min-height: auto;
        margin-bottom: 0;
        border-bottom: 1px solid rgba(51,51,51,.5);
        padding: 15px 50px 15px 16px;
        .info{
            padding: 0px 0px;
        }
        .label{
            color: $white;
            padding: 0px 0px;
        }
        .icon{
            position: absolute;
            right: 0px;
            top: 40%;
        }
        &:hover{
            background-color: #222;
        }
    }
    .add-info-wrapper .add-info-inner .form-btns{
        justify-content: center;
    }

    .mobile-responsive .add-info-inner .form-control-2{
        border: 1px solid #333;
        border-radius: 2px;
        padding: 0 16px;
        font-size: 14px;
        transition: border-color .15s ease-in-out;
    }
    .desk-form{
        display: none;
    }
    .mbl-form{
        display: block;
    }
}

