.login-inner{
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-portal-wrap{
    // height: 100vh;
    height: auto;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    // display: grid;
    // display: flex;
    // flex-flow: column;
    // justify-content: space-around;
    padding-top: 80px;
    .auth-portal-inner{
        height: 100%;
        width: 100%;
        // background: #00000042;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        // padding: 100px 0px;
        .title{
            margin-top: 20px;
            margin-bottom: 20px;
            font-size: 26px;
            font-weight: bold;
            line-height: 1;
            letter-spacing: -.05em;
            color: $white;
        }
        .auth-portal-form-wrap{
            height: auto;
            background-color: #222;
            padding: 30px;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            display: flex;
            width: 380px;
            
            .auth-form-box{
                width: 100%;
                .form-group{
                    display: grid;
                    margin-bottom: .5rem;
                    width: 100%;
                    position: relative;
                    label{
                        font-size: 14px;
                        line-height: 28px;
                        font-weight: $semi_bold;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                        color: $white;
                    }
                    .input-group-addon{
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        i{
                            color: #555555;
                        }
                    }
                    .pass{
                        padding-right: 40px;
                    }
                    input{
                        background: $black;
                        opacity: 0.8;
                        border: 1px solid $black;
                        box-sizing: border-box;
                        border-radius: 0px;
                        height: 45px;
                        padding: 0px 10px;
                        color: $white;
                        box-shadow: none;
                        outline: none;
                        width: 100%;
                        &:focus{
                            box-shadow: none;
                        }
                        &:-webkit-autofill{
                            -webkit-box-shadow: 0 0 0 1000px #f4f4f4 inset;
                        }
                    }
                    input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                        color: #868686;
                        opacity: 1; /* Firefox */
                    }
                      
                    input:-ms-input-placeholder { /* Internet Explorer 10-11 */
                        color: #868686;
                    }
                      
                    input::-ms-input-placeholder { /* Microsoft Edge */
                        color: #868686;
                    }
                      
                }
                .forgot-pass{
                    text-align: right;
                    p{
                        color: $white;
                        font-size: 14px;
                        line-height: 22px;
                        a{
                            color: #868686;
                        }
                    }
                }
                .submit-button{
                    text-align: center;
                    a{
                        background: $gradient;
                        display: inline-block;
                        width: 100%;
                        height: 34px;
                        margin-top: 16px;
                        font-size: 14px;
                        line-height: 16px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        border: none;
                        transition: all .3s ease;
                        border: 3px solid transparent;  
                        line-height: 2;
                        text-decoration: none;
                        color:#222 ;
                        // &:hover{
                        //     background-color: #7eff69;
                        //     text-decoration: none;
                            
                        //     // box-shadow: -5px 1px 9px rgb(0 0 0 / 25%);
                        // }
                    }
                    // .border-gradient{
                    //     border: 10px solid transparent;
                    //     border-image-slice: 1;
                    //     border-width: 3px;
                    //     &:hover{
                    //         border-image-source: linear-gradient(to left, #F3B939, #73D04B);
                    //     }
                    // }
                }
                .ssi{
                    margin-top: 20px;
                    .helper {
                        position: relative;
                        margin-bottom: 20px;
                        text-align: center;
                        z-index: 1;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                        .text {
                            display: inline-block;
                            position: relative;
                            background-color: #222;
                            padding: 0 8px;
                            color: #888;
                            font-size: 13px;
                        }
                        
                        &:before {
                            content: "";
                            position: absolute;
                            top: 0;
                            right: 0;
                            bottom: 0;
                            left: 0;
                            width: 100%;
                            height: 1px;
                            margin: auto;
                            background-color: #3c3c3c;
                            z-index: -1;
                            pointer-events: none;
                        }
                    }
                    .items {
                        display: flex;
                        justify-content: center;
                        flex-direction: row;
                        transition: opacity .2s linear;
                        .item-out{
                            margin-right: 30px;
                            line-height: 0;
                            transition: all .3s ease;
                            .item {
                                display: inline-block;
                                width: 40px;
                                height: 40px;
                                border: 1px solid transparent;
                                background-repeat: no-repeat;
                                background-position: 50%;
                                background-size: 100%;
                                cursor: pointer;
                                border: 1px;
                            }
                            
                            .fb{
                                background-image: url(../images/facebook.svg);
                            }
                            .gplus{
                                background-image: url(../images/google.svg);
                            }
                            .twitch{
                                background-image: url(../images/twitch.svg);
                            }
                        }
                    }
                }
            }
            .buttons-login-container {
                margin-top: auto;
                padding-top: 40px;
                .btn.btn-outline-gray {
                    border-color: #888;
                    color: #888;
                    background-color: transparent;
                }
                .btn.btn-outline-white {
                    transition: background-color .2s,border-color .2s,color .2s linear;
                }
                .btn.btn-block {
                    display: block;
                    width: 100%;
                }
                .btn {
                    display: inline-block;
                    outline: none;
                    border-radius: 2px;
                    border: 1px solid transparent;
                    padding: 12px 27px;
                    color: #eee;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    text-align: center;
                    text-decoration: none;
                    text-transform: uppercase;
                    background-color: transparent;
                    cursor: pointer;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    transition: background-color .2s ease-out,opacity .2s ease-out;
                    -webkit-backface-visibility: hidden;
                    border: 1px;
                }
                .border-gradient{
                    border: 10px solid transparent;
                    border-image-slice: 1;
                    border-width: 1px;
                    &:hover{
                        border-image-source: linear-gradient(to left, #F3B939, #73D04B);
                    }
                }
            }
        }
    }
}

.loading-box{
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading-border{
    --angle: 0deg;;
    border: 2px solid;
    border-image: linear-gradient(var(--angle), #73d04b, #12162f, #f3b939) 1;
    animation: 2s rotate linear infinite;
}
@keyframes rotate {
    to {
      --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}


@media screen and (min-width: 600px) and (max-width: 768px){

}
@media screen and (min-width: 0px) and (max-width: 599px){
    .auth-portal-wrap .auth-portal-inner{
        justify-content: inherit;
        .auth-portal-form-wrap{
            justify-content: inherit;
            height: 100%;
            .auth-form-box{
                // margin: 50px 0px;
                height: 100%;
                display: flex;
                flex-flow: column;
                justify-content: space-between;
            }
        }
        .buttons-login-container{
            margin-bottom: 50px;
        }
    } 
    .auth-portal-wrap .auth-portal-inner .auth-portal-form-wrap{
        width: 100%;
    }
    .auth-portal-wrap{
        background-image: none;
        .auth-portal-inner{
            width: 80%;
            margin: 50px 0px;
        }
    }
    .login-inner{
        background-size: 0px;
    }
}


@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
    .auth-portal-wrap .auth-portal-inner .auth-portal-form-wrap{
        width: 100%;
    }
}
