* {
    word-wrap: break-word !important;
}

body {
    @include font-applying ($fs: 15px, $ff: $font_text, $fw: normal, $fsty: normal);
    color: $text_color;
    background-color: $white;
    overflow-x: hidden;
}

::-moz-selection { /* Code for Firefox */
    color: $white;
    background: $primary_color;
  }
  
  ::selection {
    color:$white;
    background: $primary_color;
  }
body{
    font-family: $font_text;
    background-color: $darkgrey_color;
}
.row{
    margin: 0px !important;
}
.no-p{
    padding: 0px;
}
.align-center{
    align-items: center;
}
.noScroll{
    overflow:hidden;
}
.space-btwn{
    justify-content: space-between;
}
.form-group{
    margin-bottom: 1rem;
}
input{
    box-shadow: none;
}
textarea{
    box-shadow: none;
    -webkit-appearance: none;
}

.border-gradient{
    border: 10px solid transparent;
    border-image-slice: 1;
    border-width: 3px;
    transition: all .3s ease;
    &:hover{
        border-image-source: linear-gradient(to left, #F3B939, #73D04B);
    }
}
.text-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
}
.wrapper{
    max-width: 1024px;
    position: relative;
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

@mixin bg-img {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

%overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.inner-main-wrapper {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}
.primary-button{
    padding: 12px 5%;
    background-color: $primary_color;
    color:$white;
    text-decoration: none;
    transition: $ease_transition;
    text-transform: uppercase;
    border: 1px solid $primary_color;
    &:hover{
        color: $primary_color;
        text-decoration: none;
        background-color: $white;
    }
}
.secondary-button{
    padding: 12px 5%;
    background-color: $white;
    color:$primary_color;
    text-decoration: none;
    transition: $ease_transition;
    border: 1px solid $primary_color;
    text-transform: uppercase;
    &:hover{
        color: $white;
        background-color: $primary_color;
        text-decoration: none;
        box-shadow: $button_hover;
        border-color: $white;
    }
}
.black-button{
    a{
        padding: 12px 5%;
        background-color: $darkgrey_color;
        color:$white;
        text-decoration: none;
        transition: $ease_transition;
        border: 1px solid $darkgrey_color;
        text-transform: uppercase;
        &:hover{
            color: $white;
            background-color: $primary_color;
            text-decoration: none;
            box-shadow: $button_hover;
            border-color: $primary_color;
        }
    }
}

.fancybox-button--share{
    display: none !important;
}

.rtl{
    direction: rtl;
}
.ltr{
    direction: ltr;
}

.cursor-default{
    cursor: default !important;
}


.border-radius-small {
    border-radius: 0.5rem
}
.bg__content--dark {
    background-color: #343434;
}
.media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}
.media-aside {
    display: flex;
    margin: 0px 1rem
}
// .rtl{
//     .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container{
//         right: 0;
//         left: auto;
//     }
// }

// custom animation 
.custom-slideUp{
    animation: slide-up 1s forwards;
}
@keyframes slide-up {
    from {
        opacity: 0;
        transform: translateY(+50px);
    }
    to {
        opacity: 1;
        transform: none;
    }
}

// media queries
@media screen and (min-width: 1350px) and (max-width: 1600px) {}

@media screen and (min-width: 1200px) and (max-width: 1349px) {}

@media screen and (min-width: 992px) and (max-width: 1199px) {}

@media screen and (min-width: 769px) and (max-width: 992px) {
    
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    
}

@media screen and (min-width: 0px) and (max-width: 600px) {
    
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2)  and (orientation: portrait)  {
    
}