.dark-header{
    background: #000;
    color: #888;
    padding-bottom: 2px;
    padding-top: 2px;
    // border-bottom: 1.5px solid $primary_color;
    // border-image-source: linear-gradient(to left, #F3B939, #73D04B);
    &:after{
        content: "";
        width: 100%;
        background-image: linear-gradient(to left, #F3B939, #73D04B);
        height: 2px;
        position: absolute;
        bottom: 0px;
    }
    .wrapper{
        display: flex;
        align-items: center;
        max-width: 1024px;
        height: 50px;
        margin: 0 auto;
        padding: 0 24px;
    }
    a{
        color: #888;
    }
    .navbar-brand{
        color: #888;
        display: flex;
        align-items: center;    
        img{
            margin-right: 14px;
        }
    }
    .navbar-collapse{
        justify-content: space-between;
        width: 100%;
        .navbar-nav{
            width: 100%;
            justify-content: flex-end;
            li{
                margin: 0px 0px 0px auto;
            }
            .dropdown{
                .dropdown-menu{
                    background-color: $black;
                    .active{
                        color: $primary_color;
                        background-color: transparent;
                    }
                    a{
                        font-size: 12px;
                        &:hover{
                            background-color: #555;
                        }
                    }
                }
                .dropdown-toggle {
                    :after{
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .dark-header{
        background-color: $darkgrey_color;
    }
    .navbar-dark .navbar-nav .dropdown-toggle.show{
        display: flex;
        justify-content: flex-end;
    }
    .dark-header .navbar-toggler{
        position: absolute;
        border: 0px !important;
        top: 5px !important;
        outline: none !important;
        box-shadow: none !important;
    }
    .dark-header .navbar-brand{
        justify-content: center;
        text-align: center;
        width: 100%;
    }
    .dark-header{
        padding: 0px;
        .navbar-brand{
            span{
                display: none;
            }
        }
    }
}