footer{
    // background-color: #312F30;
    .footer-wrap{
        padding: 30px 0px;
        .footer-content{
            .footer-left-inner{
                padding: 22px 10%;
                .copywrites{
                    margin-top: 50px;
                    p{
                        margin-bottom: 5px;
                        a{
                            color: $text_color;
                            // @include gradientText;
                            text-decoration: none;
                        }
                    }
                }
                .footer-logo{
                    img{
                        height: 100%;
                        width: 100%;
                    }
                }
            }
            .footer-links-wrap{
                .footer-links-box{
                    .accordion-item{
                        background: transparent;
                        border: 0px;
                        border-bottom: 0px;
                        .accordion-button{
                            padding: 0px;
                            background: transparent;
                            color: #ffffff;
                            background: transparent;
                            outline: none;
                            box-shadow: none;
                            border: 0px;
                            &:after{
                                display: none;
                                margin-right: 15px;
                                background-image: url(../images/plus.png);
                                background-size: 15px;
                            }
                        }
                        .accordion-collapse{
                            .accordion-body{
                                padding: 1.3rem 0px;
                                ul{
                                    padding: 0px;
                                    li{
                                        list-style: none;
                                        margin-bottom: 10px;
                                        a{
                                            text-decoration: none;
                                            color: #777;
                                            &:hover{
                                                color: $primary_color;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .social-wrap{
                    // text-align: left;
                    h5{
                        @include gradientText;
                        // color: $primary_color;
                    }
                    .social-acc{
                        .social-acc-list{
                            i{
                                @include gradientText;
                                // color: $primary_color;
                                height: 25px;
                                width: 25px;
                                border: 1px solid $primary_color;
                                border-radius: 50%;
                                text-align: center;
                                line-height: 25px;
                                margin-right: 10px;
                                cursor:pointer;
                                a{
                                    @include gradientText;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .footer-term{
        border-top: 1px solid #555;
        padding-top: 10px;
        .terms{
            padding: 10px 0px;
            color: #777;
        }
        .tc-links{
            padding: 10px 0px;
            ul{
                display: flex;
                justify-content: flex-end;
                padding: 0px;
                flex-wrap: wrap;
                li{
                    list-style: none;
                    padding: 0px 10px;
                    border-right: 1px solid #777;
                    &:last-child{
                        border-right: 0px;
                    }
                    a{
                        color: #777;
                        text-decoration: none;
                        &:hover{
                            color: $primary_color;
                        }
                    }
                }
            }
        }
    }
}

// @media (max-width: 767px){
    
// }
.rtl.footer-wrap .footer-content .footer-links-wrap .footer-links-box .accordion-item .accordion-button{
    text-align: right;
}
@media screen and (min-width: 0px) and (max-width: 767px){
    footer .footer-wrap .footer-content .footer-links-wrap .footer-links-box .accordion-item{
        border-bottom: 1px solid #323232 !important;
        margin: 0 15px !important;
        padding: 10px !important;
        .accordion-button{
            padding: 15px 0px !important;
            background-image: url(../images/plus.png) !important;
            background-repeat: no-repeat;
            background-position: 0% 38%;
        }
    }
    footer .footer-wrap .footer-content .footer-links-wrap .footer-links-box .accordion-item .accordion-button{
        text-align: right;
    }
}
@media screen and (min-width: 0px) and (max-width: 600px){
    .social-links{
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }
    .social-wrap{
        padding: 20px 0px;
    }
}