.navbar {
    background-color: $black;
    .navbar-brand{
        height: 48px;
        img{
            height: 100%
        }
    }
    .collapse {
        justify-content: flex-end;
        .navbar-nav{
            .nav-item{
                padding: 0px 0px;
                .nav-link{
                    margin:0px 17px;
                    color: #bbb;
                    font-size: 18px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    &.active{
                        color: $white;
                    }
                    &:hover{
                        // color: $primary_color;
                        @include gradientText;
                    }
                    &.reload{
                        display: flex;
                        align-content: center;
                        i{
                            color: #ffb400;
                            border: 1px solid #ffb400;
                            height: 20px;
                            width: 20px;
                            border-radius: 50%;
                            font-size: 12px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-right: 5px;
                            margin-top: 3px;
                        }
                        span{
                            display: inline!important;
                            text-transform: uppercase!important;
                            color: #ffb400;
                        }
                    }
                    &.search{
                        i{
                            font-size:16px ;
                        }
                    }
                    &.lang-btn{
                        // background-color: transparent;
                        color: #fff;
                        border: 2px solid transparent;
                        border-image-slice: 1;
                        // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                        border-image-source: linear-gradient(to left, #F3B939, #73D04B);
                        border-radius: 3px;
                        font-size:14px;
                        padding: 4px 15px;
                        cursor: pointer;
                        // &:hover{
                        //     background: $gradient;
                        //     color: $white !important;
                        // }
                    }
                }
                .profile-btn{
                    height: 100%;
                    line-height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 4px;
                    border: 1px solid rgb(61, 61, 61);
                    border-radius: 50%;
                    height: 28px;
                    width: 28px;
                    .profile-pic{
                        background-color: #bbb;
                        border-radius: 50%;
                        text-align: center;
                        cursor: pointer;
                        height: 100%;
                        width: 100%;
                        padding: 2px;
                        position: relative;
                        i{
                            color: $darkgrey_color;
                        }
                        span{
                            background-color: $primary_color;
                            width: 7px;
                            height: 7px;
                            border-radius: 100%;
                            position: absolute;
                            display: block;
                            top: -5px;
                            right: -10px;
                        }
                    }
                    &:hover{
                        border-color: $primary_color;
                    }
                }
            }
            .dropdown{
                .dropdown-toggle{
                    &:after{
                        display: none;
                    }
                }
            }
            .dropdown-menu-right {
                right: 0;
                left: auto;
            }
            .user-menu{
                // height: 300px;
                // overflow-y: scroll;
                width: 320px;
                color: #bbb;
                padding-top: 12px;
                padding-bottom: 12px;
                border: 1px solid #444;
                border-radius: 4px;
                background-color: #222;
                top: 35px;
                .user-menu-inner{
                    margin: 0 1rem;
                    .user-info-box{
                        display: flex;
                        align-items: center;
                        width: 100%;
                        background-color: #343434;
                        padding: 10px;
                        border-radius: 0.5rem;
                        .user-dp{
                            height: 50px;
                            width: 50px;
                            border-radius: 50%;
                            overflow: hidden;
                            img{
                                height: 100%;
                                width: 100%;
                            }
                        }
                        .user-info{
                            text-align: left;
                            margin-left: 15px;
                            width: calc(100% - 70px);
                            .user-name{
                                p{
                                    margin-bottom: 0px;
                                    color: $white;
                                    font-size: 1rem;
                                    line-height: 20px
                                }
                            }
                            .user-mail{
                                p{
                                    margin-bottom: 0px;
                                    font-size: 1rem;
                                    line-height: 20px
                                }
                            }
                        }
                    }
                    .currency-info{
                        margin-top: 10px;
                        text-align: center;
                        .currency-item{
                            img{
                                height: 18px;
                                width: 18px;
                            }
                        }
                        .menu-curr-btn{
                            width: 100%;
                            margin-top: 12px;
                            a{
                                width: 100%;
                                height: 30px;
                                font-size: 14px;
                                line-height: 30px;
                                display: inline-block;
                                font-weight: 500;
                                text-decoration: none;
                                text-transform: uppercase;
                                text-align: center;
                                opacity: 1;
                                border-radius: 3px;
                                color: #000;
                                &.reloadBtn{
                                    background-color: #ffb400;
                                }
                                &.redeemBtn{
                                    background-color: $primary_color;
                                }
                            }
                        }
                    }
                    .disclaimer{
                        font-size: 12px;
                        font-style: italic;
                        margin-top: 10px;
                        text-align: center;
                    }
                    .view-detail-btn{
                        a{
                            font-size: 14px;
                            color: #bbb;
                            text-decoration: none;
                            i{
                                margin: 0px 10px;
                            }
                            &:hover{
                                @include gradientText;
                                // border: 1px solid #555;
                                outline: none;
                            }
                        }
                    }
                    .complete-prof{
                        p{
                            font-size: 12px;
                            text-align: left;
                            text-align: center;
                            img{
                                height: 18px;
                                width: 18px;
                            }
                        }
                        .complete-prof-btn{
                            width: 100%;
                            text-align: center;
                            display: flex;
                            justify-content: center;
                            a{
                                background-color: #1d1d1d;
                                color: #fff;
                                border: 1px solid #555;
                                -webkit-box-shadow: none;
                                box-shadow: none;
                                outline: none;
                                width: 240px;
                                height: 30px;
                                line-height: 27px;
                                border-radius: 3px;
                                font-size: 14px;
                                text-decoration: none;
                                display: block;
                            }
                        }
                    }
                    .gtm-header-profile{
                        font-size: 15px;
                        margin: 0px 0px;
                    }
                }
            }
        }
    }
    .navbar-nav{
        .nav-item{
            padding: 0px 0px;
            .nav-link{
                margin:0px 17px;
                color: #bbb;
                font-size: 18px;
                padding-top: 0px;
                padding-bottom: 0px;
                &.active{
                    color: $white;
                }
                &:hover{
                    // color: $primary_color;
                    @include gradientText;
                }
                &.reload{
                    display: flex;
                    align-content: center;
                    i{
                        color: #ffb400;
                        border: 1px solid #ffb400;
                        height: 20px;
                        width: 20px;
                        border-radius: 50%;
                        font-size: 12px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin-right: 5px;
                        margin-top: 3px;
                    }
                    span{
                        display: inline!important;
                        text-transform: uppercase!important;
                        color: #ffb400;
                    }
                }
                &.search{
                    i{
                        font-size:16px ;
                    }
                }
                &.lang-btn{
                    // background-color: transparent;
                    color: #fff;
                    border: 2px solid transparent;
                    border-image-slice: 1;
                    // border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
                    border-image-source: linear-gradient(to left, #F3B939, #73D04B);
                    border-radius: 3px;
                    font-size:14px;
                    padding: 4px 15px;
                    cursor: pointer;
                    // &:hover{
                    //     background: $gradient;
                    //     color: $white !important;
                    // }
                }
            }
            .profile-btn{
                height: 100%;
                line-height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 4px;
                border: 1px solid rgb(61, 61, 61);
                border-radius: 50%;
                height: 28px;
                width: 28px;
                .profile-pic{
                    background-color: #bbb;
                    border-radius: 50%;
                    text-align: center;
                    cursor: pointer;
                    height: 100%;
                    width: 100%;
                    padding: 2px;
                    position: relative;
                    i{
                        color: $darkgrey_color;
                    }
                    span{
                        background-color: $primary_color;
                        width: 7px;
                        height: 7px;
                        border-radius: 100%;
                        position: absolute;
                        display: block;
                        top: -5px;
                        right: -10px;
                    }
                }
                &:hover{
                    border-color: $primary_color;
                }
            }
        }
        #userDrop:hover{
            -webkit-text-fill-color: #222222;
        }
        .dropdown{
            .dropdown-toggle{
                &:after{
                    display: none;
                }
            }
        }
        .dropdown-menu-right {
            right: 0;
            left: auto;
        }
        .user-menu{
            // height: 300px;
            // overflow-y: scroll;
            width: 320px;
            color: #bbb;
            padding-top: 12px;
            padding-bottom: 12px;
            border: 1px solid #444;
            border-radius: 4px;
            background-color: #222;
            top: 35px;
            .user-menu-inner{
                margin: 0 1rem;
                .user-info-box{
                    display: flex;
                    align-items: center;
                    width: 100%;
                    background-color: #343434;
                    padding: 10px;
                    border-radius: 0.5rem;
                    .user-dp{
                        height: 50px;
                        width: 50px;
                        border-radius: 50%;
                        overflow: hidden;
                        img{
                            height: 100%;
                            width: 100%;
                        }
                    }
                    .user-info{
                        text-align: left;
                        margin-left: 15px;
                        width: calc(100% - 70px);
                        .user-name{
                            p{
                                margin-bottom: 0px;
                                color: $white;
                                font-size: 1rem;
                                line-height: 20px
                            }
                        }
                        .user-mail{
                            p{
                                margin-bottom: 0px;
                                font-size: 1rem;
                                line-height: 20px
                            }
                        }
                    }
                }
                .currency-info{
                    margin-top: 10px;
                    text-align: center;
                    .currency-item{
                        img{
                            height: 18px;
                            width: 18px;
                        }
                    }
                    .menu-curr-btn{
                        width: 100%;
                        margin-top: 12px;
                        a{
                            width: 100%;
                            height: 30px;
                            font-size: 14px;
                            line-height: 30px;
                            display: inline-block;
                            font-weight: 500;
                            text-decoration: none;
                            text-transform: uppercase;
                            text-align: center;
                            opacity: 1;
                            border-radius: 3px;
                            color: #000;
                            &.reloadBtn{
                                background-color: #ffb400;
                            }
                            &.redeemBtn{
                                background-color: $primary_color;
                            }
                        }
                    }
                }
                .disclaimer{
                    font-size: 12px;
                    font-style: italic;
                    margin-top: 10px;
                    text-align: center;
                }
                .view-detail-btn{
                    a{
                        font-size: 14px;
                        color: #bbb;
                        text-decoration: none;
                        i{
                            margin: 0px 10px;
                        }
                        &:hover{
                            @include gradientText;
                            // border: 1px solid #555;
                            outline: none;
                        }
                    }
                }
                .complete-prof{
                    p{
                        font-size: 12px;
                        text-align: left;
                        text-align: center;
                        img{
                            height: 18px;
                            width: 18px;
                        }
                    }
                    .complete-prof-btn{
                        width: 100%;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        a{
                            background-color: #1d1d1d;
                            color: #fff;
                            border: 1px solid #555;
                            -webkit-box-shadow: none;
                            box-shadow: none;
                            outline: none;
                            width: 240px;
                            height: 30px;
                            line-height: 27px;
                            border-radius: 3px;
                            font-size: 14px;
                            text-decoration: none;
                            display: block;
                        }
                    }
                }
                .gtm-header-profile{
                    font-size: 15px;
                    margin: 0px 0px;
                }
            }
        }
    }
}


.navbar-collapse .dropdown-menu{
    background-color: #000 !important;
    border: 1px solid #606060;
    li{
        a{
            color: $white;
        }
    }
}


.global-search-overlay {
    opacity: 1;
    display: block;
    height: 100vh;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1030;
    .global-search__background{
        background: rgba(0,0,0,.75);
        cursor: default;
        display: block;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .global-search__embed{
        cursor: default;
        display: block;
        margin: auto;
        position: relative;
        width: 100%;
    }
    .global-search__searchbar{
        height: 50px;
        background-color: #222;
        padding: 5px;
    }
    .input-group{
        height: 100%;
        .input-group-text{
            background: transparent;
            border: 0px;
            position: absolute;
            top: 15%;
            i{
                color: #bbb;
            }
        }
        input{
            background: transparent;
            padding: 0px 50px;
            color: $white;
            border-color: #555;
            border-radius: 3px !important;

            &::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: #606060;
                font-style: italic;
                opacity: 1; /* Firefox */
            }
              
            &:-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: #606060;
                font-style: italic;
            }
              
            &::-ms-input-placeholder { /* Microsoft Edge */
                color: #606060;
                font-style: italic;
            }
        }
        
        .cross-btn{
            position: absolute;
            top: 23%;
            right: 15px;
            z-index: 4;
            i{
                color:#bbb;
                cursor: pointer;
                z-index: 1024;
                &:hover{
                    color: $primary_color;
                }
            }
        }
    }
}

.rtl {
    .navbar-nav .user-menu .user-menu-inner .user-info-box{
        flex-flow: row-reverse;
        .user-info{
            text-align: right;
            margin-right: 15px;
        }
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler{
        position: absolute;
        right: 0px;
        margin-top: -10px;
        top: 20px;
        i{
            color: #bbb;
        }
    }
    .header-right{
        width: 73%;
        .header-right-inner{
            .navbar-nav{
                display: flex !important;
                flex-flow: row;
                align-items: center;
                justify-content: center;
                .nav-item{
                    .nav-link{
                        margin: 0px 5px !important;
                    }
                    .lang-btn{
                        font-size: 12px;
                    }
                    .reload{
                        span{
                            // display: none !important;
                        }
                    }
                }
            } 
        }
        
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        position: relative;
    }
    .navbar .navbar-nav .user-menu{
        width: 280px;
        position: absolute !important;
        right: -25px !important;
        top: 49px !important;

    }
    #navbarSupportedContent{
        position: absolute;
        top: 63px;
        width: 100%;
        background: rgb(0, 0, 0);
        left: 0px;
        z-index: 2;
    }
    .helpDropBox{
        .dropdown-menu{
            position: absolute !important;
            right: 0px;
        }
    }
    .rtl.navbar .navbar-nav .nav-item .nav-link{
        text-align: right;
    }
}
@media screen and (min-width: 0px) and (max-width: 767px) {
    .navbar-toggler{
        position: absolute;
        right: 0px;
        margin-top: -10px;
        top: 20px;
        i{
            color: #bbb;
        }
    }
    .header-right{
        width: 73%;
        .header-right-inner{
            .navbar-nav{
                display: flex !important;
                flex-flow: row;
                align-items: center;
                .nav-item{
                    .nav-link{
                        margin: 0px 5px !important;
                    }
                    .lang-btn{
                        font-size: 12px;
                    }
                    .reload{
                        span{
                            display: none !important;
                        }
                    }
                }
            } 
        }
        
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        position: relative;
    }
    .navbar .navbar-nav .user-menu{
        width: 280px;
        position: absolute !important;
        right: -25px !important;
        top: 49px !important;

    }
    #navbarSupportedContent{
        position: absolute;
        top: 63px;
        width: 100%;
        background: rgb(0, 0, 0);
        left: 0px;
        z-index: 2;
    }
    .helpDropBox{
        .dropdown-menu{
            position: absolute !important;
            right: 0px;
        }
    }
    .rtl.navbar .navbar-nav .nav-item .nav-link{
        text-align: right;
    }
}