

// main header 
.header-main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    a{
        color: $white;
        text-decoration: none;
    }
    .head-wrapper {
        display: flex;
        align-items: center;
        max-width: 1024px;
        height: 50px;
        margin: 0 auto;
        padding: 0 24px;
    }
    .brand {
        color: #fff;
        min-width: 113px;
        width: auto;
        height: 35px;
        background-image: url(../images/logo-icon.png);
        background-repeat: no-repeat;
        background-size: 35px;
        font-size: 16px;
        text-indent: 42px;
        line-height: 2.4;
        background-position: 0px center;
        transition: color 0.15s ease-in-out 0s;
    }
    .border-gradient{
        border: 10px solid transparent;
        border-image-slice: 1;
        border-width: 1px;
        &:hover{
            border-image-source: linear-gradient(to left, #F3B939, #73D04B);
        }
    }
    .header-title {
        display: none;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 50px;
        text-align: center;
        text-transform: uppercase;
        user-select: none;
        pointer-events: none;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding: 0px 90px;
        overflow: hidden;
    }
    .header-right {
        display: flex;
        align-items: center;
        margin-left: auto;
        flex-shrink: 0;
        position: relative;
    }
    .header-link-sm{
        .current {
            display: flex;
            justify-items: top;
            .title {
                font-size: 12px;
                text-transform: uppercase;
                color: $white;
            }
        }
        &:first-child {
            margin-left: 0;
        }
    }
    .header-link-sm {
        position: relative;
        margin-left: 15px;
        line-height: 2;
        .current {
            display: flex;
            justify-items: top;
            .title {
                font-size: 12px;
                text-transform: uppercase;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 767px){
    .auth-portal-wrap{
        background-image: none !important;
        .auth-portal-inner{
            background-color: $main_body_color;
        }
    }
    .header-main .header-title{
        display: block !important;
        background-image: url(../images/logo-icon.png);
        background-repeat: no-repeat;
        background-size: 35px;
        background-position: center 0px;
        span{
            display: none;
        }
    }
    .header-main .brand{
        display: none;
    }
    .header-main .header-right{
        width: 100%;
         .header-link-sm{
            display: none;
        }
    } 

}