.footer-main_in {
    width: 100%;
    padding: 20px 24px;
    font-size: 12px;
    text-align: center;
    cursor: default;
    margin-top: 40px;
    a {
        display: inline-block; 
        outline: none;
        transition: color .1s ease-in-out,opacity .1s ease-in-out;
        color: #999;
    }
    p{
        color: #999;
    }
    a.gexin-com {
        margin-bottom: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
    }
}


@media screen and (min-width: 0px) and (max-width: 767px){
    // .auth-portal-wrap .footer-main{
    //     position: fixed !important;  
    // }
    .authentication-page .footer-main_in{
        position: inherit !important;
    }
}