.checkout-wrap{
    background: #000;
    .checkout-wrap-inner{
        padding: 70px 0px;
        .checkout-info-wrap{
            h3{
                color: $white;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span{
                    font-size: 14px;
                }
            }
            p{
                color: $white;
            }
            .iti__arrow{
                display: none;
            }
        }
        .shiupping-address-wrap{
            margin-top: 15px;
            h5{
                color: $white;
                margin-bottom: 30px;
            }
        }
        
        .form-floating{
            input{
                height: 50px;
                line-height: 50px;
                padding: 0px 0.75rem;
                background: transparent;
                outline: none;
                box-shadow: none;
                color:$white;
                &:focus{
                    border-color: $white;
                }
            }
            .sect-box{
                // position: relative;
                select{
                    width: 100%;
                    height: 50px;
                    background: transparent;
                    color: $white;
                    padding: 13px;
                    option{
                        background: #000;
                    }
                }
                // &:after{
                //     width: 0; 
                //     height: 0; 
                //     border-left: 6px solid transparent;
                //     border-right: 6px solid transparent;
                //     border-top: 6px solid $primary_color;
                //     position: absolute;
                //     top: 40%;
                //     right: 15px;
                //     content: "";
                //     z-index: 98;
                // }
            }
            label{
                color: $white;
                padding: 13px;
            }
            p{
                color: #989898;
                span{
                    color: $white;
                }
            }
            span{
                color: #989898;
            }
        }
        h6{
            color: $white;
            margin-bottom: 25px;
        }
        .contact-details{
            .iti {
                width: 100%;
            }
            input{
                background: transparent;
                color: $white;
                width: 100%;
                height: 50px;
                border-radius: 4px;
                border: 1px solid $white;
            }
        }
        .form-floating>.form-control:focus~label, .form-floating>.form-control:not(:placeholder-shown)~label, .form-floating>.form-select~label{
            opacity: 1;
            transform: scale(.75) translateY(-1.7rem) translateX( -3rem);
            background: #000;
            width: fit-content;
        }

        .checkbox-spec{
             input {
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }
            input:checked+label:after {
                content: "";
                display: block;
                position: absolute;
                top: 4px;
                left: 8px;
                width: 6px;
                height: 14px;
                border: solid #000000;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
            input:checked+label:before {
                content: "";
                background: $primary_color;
                border-color: $primary_color;
            }
            label {
                position: relative;
                cursor: pointer;
                color: $white;
                font-size: 18px;
                font-weight: normal;
                font-style: normal;
                align-items: center;
                display: flex;
                &:before {
                    content: "";
                    -webkit-appearance: none;
                    background-color: transparent;
                    border: 1px solid #d1d1d1;
                    // box-shadow: 0 1px 2px rgb(0 0 0 / 5%), inset 0px -15px 10px -12px rgb(0 0 0 / 5%);
                    padding: 10px;
                    display: inline-block;
                    position: relative;
                    vertical-align: middle;
                    cursor: pointer;
                    margin-right: 20px;
                    border-radius: 3px
                }
            }
        }
        .billing-address{
            margin-top: 15px;
            h4{
                color: $white;
                margin-bottom: 10px;
            }
        }
        .shopping-button{
            margin-top: 15px;
            .continue-btn{
                width: 100%;
                height: 40px;
                color:#000;
                font-weight: 600;
                background: $primary_color;
                border: none;
                &:hover{
                    background-color: #7eff69;
                }
            }
        }
    }
}


.order-informaion-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    .order-info-inner{
        background: #222;
        padding: 25px;
        position: sticky;
        top: 0;
        h4{
            color: $white;
        }
        .info-listing{
            .accordion-item{
                background: transparent;
                border: 0px;
                border-bottom: 1px solid $white;
                margin-bottom: 15px;
                .accordion-header{
                    .accordion-button{
                        padding: 10px;
                        color: $white;
                        background: transparent;
                        outline: none;
                        box-shadow:  none;
                        border: 0px;
                        padding-left: 0px;
                        text-decoration: none;
                    }
                    
                    .accordion-button::after{
                        margin-right: 0px;
                    }
                }
                .accordion-collapse{
                    .accordion-body{
                        padding:0px !important;
                    }
                }
            }
            .info{
                margin-bottom: 10px;
                .info-inner{
                    padding: 10px 0px;
                    border-bottom: 1px solid #989898;
                    display: flex;
                    p{
                        color: #989898;
                        margin-bottom: 5px;
                        line-height: 14px;
                        font-size: 14px;
                    }
                    .left-info{
                        width: 65%;
                    }
                    .right-info{
                        width: 35%;
                        text-align: right;
                    }
                }
                .total-info{
                    border-bottom: 0px;
                    p{
                        color: $white !important;
                        font-size: 18px !important;
                    }
                }
            }
        }
    }
}

.checkout-wrap.rtl{
    .checkout-wrap-inner .checkbox-spec label:before{
        margin-right: 0px;
        margin-left: 20px;
    }
     .checkout-wrap-inner .checkbox-spec input:checked + label:after{
        right: 8px;
        left: 0px;
    }
    .order-informaion-box .order-info-inner .info-listing .accordion-item .accordion-header .accordion-button::after{
        margin-left: 0px;
        margin-right: auto;
    }
}


@media only screen and (max-width: 767px){
    .order-informaion-box{
        position: initial;
        margin-top: 50px;
    }
}