.otp-modal{
    .modal-dialog{
        .modal-content{
            .modal-body{
                padding-top: 50px;
                .icon{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    top: -30px;
                    left: 50%;
                    margin-left: -30px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #fff;
                    box-shadow: 0 2px 4px 0 #00000033;
                    z-index: 3;
                    img{
                        width: 24px;
                        height: 24px;
                    }
                }
            }
        }
    }
    
}

.buttons-modal{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .cancel-btn{
        width: 170px;
        background-color: transparent;
        border-color: #888;
        border-radius: 0px;
        color: #888;
        text-transform: uppercase;
    }
}
.modal-tButtons{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    .cancel-btn{
        width: 120px;
        background-color: transparent;
        border-color: #888;
        border-radius: 0px;
        color: #888;
        text-transform: uppercase;
        border: 1px solid;
        height: 38px;
        text-align: center;
        line-height: 38px;
        text-decoration: none;
        margin: 0px 15px;
    }
    .new-code{
        width: 120px;
        background-color: transparent;
        border-color: #888;
        border-radius: 0px;
        color: #888;
        text-transform: uppercase;
        border: 1px solid;
        height: 38px;
        text-align: center;
        line-height: 38px;
        text-decoration: none;
        margin: 0px 15px;
    }
}
.sending-options{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    select{
        max-width: 180px;
        background-color: transparent;
        outline: none;
        // border: 0px;
        box-shadow: none;
        option{
            border-bottom: 1px solid #bbb;
        }
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .dropdown{
        .dropdown-toggle{
            background: transparent;
            color: #000;
            font-size: 12px;
        }
        .dropdown-menu{
            padding: 0px;
            width: 100%;
            li{
                font-size: 12px;
                border-bottom: 1px solid #c0c0c0;
                &:last-child{
                    border-bottom: 0px;
                }
            }
        }
    }
}

.otp-pass{
    .icon-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        .icon{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: #343434;
            box-shadow: 0 2px 4px 0 #00000033;
            z-index: 3;
            img{
                width: 24px;
                height: 24px;
            }
        }
    }
    
    .title{
        h5{
            font-weight: 400;
            letter-spacing: 0;
            margin-bottom: 20px;
            text-align: center;
            // color:$primary_color;
            @include gradientText;
            font-size: 28px;
        }
    }
    .otp-body{
        h5{
            margin-bottom: 10px;
            font-size: 18px;
            color: #222;
            text-align: center;
        }
        p{
            font-size: 16px;
            color: #888;
            text-align: center;
        }
        .input-group-otp{
            display: flex;
            justify-content: center;
            align-items: center;
            .otc {
                position: relative;
                margin: 0 auto;
                fieldset {
                    border: 0;
                    padding: 0;
                    margin: 0;
                    div {
                        display: flex;
                        align-items: center;
                    }
                }
                legend {
                    margin: 0 auto 1em;
                    color: #000;
                }
                label {
                    border: 0 !important;
                    clip: rect(1px, 1px, 1px, 1px) !important;
                    -webkit-clip-path: inset(50%) !important;
                    clip-path: inset(50%) !important;
                    height: 1px !important;
                    margin: -1px !important;
                    overflow: hidden !important;
                    padding: 0 !important;
                    position: absolute !important;
                    width: 1px !important;
                    white-space: nowrap !important;
                }
            }
            input[type="number"] {
                width: 50px;
                height: 60px;
                line-height: 1;
                margin: .1em;
                padding: 8px 0 4px;
                font-size: 2.65em;
                text-align: center;
                appearance: textfield;
                -webkit-appearance: textfield;
                border: 1px solid #dfdfdf;
                color: #000;
                border-radius: 4px;
                &:nth-child(n+4) {
                    order: 2;
                }
            }
            input {
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
                &::-webkit-inner-spin-button {
                    -webkit-appearance: none;
                    margin: 0;
                }
            }

        }
    }
}
.section-otp{
    background-color: #222222;
    padding: 20px 0px;
    margin: 15px;
    border-radius: 0.5rem;
    .center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .otp-pass{
        width: 60%;
        .otp-body{
            h5{
                color: #ededed;
                text-align: right;
            }
            p{
                text-align: right;
            }
        }
        .input-group-otp{
            justify-content: flex-start;
        }
        .otc{
            margin: 0px !important;
            width: 100%;
            input[type="number"] {
                background-color: #111111;
                color: #fff;
                border: 1px solid #585858;
            }
            fieldset div{
                justify-content: space-between;
            }
        }
    }
    .buttons-modal .cancel-btn{
        color: $white;
    }
    .sending-options{
        select{
            color: $white;
            option{
                background-color: #222222;
            }
        }
    }
    
    .opt-pass-outer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
    }
    .t_c{
        margin-top: 50px;
        color: #bbb;
        a{
            color: $white;
        }
    }
}