.portal-header{
    .container-fluid{
        padding:0px
    }
    .navbar-nav{
        .nav-item{
            .nav-link{
                font-family: Degular;
                font-style: normal;
                font-weight: 600;
                font-size: 14px;
                line-height: 19px;
                letter-spacing: 0.049em;
                color: #2E2E2E;
            }
            .icon-item{
                background: #F2F2F2;
                border-radius: 50%;
                width: 35px;
                height: 35px;
                text-align: center;
                vertical-align: middle;
                display: flex;
                justify-content: center;
                align-items: center;
                margin:0px 7px;
                &::after{
                    display: none;
                }
            }
            .dropdown-menu{
                left: -80px;
                border-radius: 0px;
                li{
                    display: flex;
                    justify-content: space-between;
                    width: 100%;
                    .dropdown-item{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        border-bottom: 1px solid #E6E6E6;
                        padding: 7px 15px;
                        i{
                            color: $primary_color;
                            margin-left: 20px;
                            font-size: 14px;
                        }
                        &:active{
                            background-color: #e9ecef;
                            color: $darkgrey_color;
                        }
                    }
                    &:last-child{
                        .dropdown-item{
                            border: 0px;
                        }
                    }
                }
            }
            .dropdown-toggle.show{
                background-color: $primary_color;
                color: $white;
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 600px) {
    .portal-header{
        .navbar-brand{
            width: 30%;
            img{
                height: 100%;
                width: 100%;
            }
        }
        .navbar-nav{
            display: flex;
            justify-content: right;
            flex-wrap: wrap;
            align-items: center;
            margin-bottom: 0px !important;
            .nav-item{
                .dropdown-menu{
                    left: -147px;
                }
                .nav-link{
                    font-size: 12px;
                }
            }
        }
    }
}