// main footer 
.footer-main {
    // position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: #999;
    padding: 20px 24px;
    font-size: 12px;
    text-align: center;
    cursor: default;
    background-color: transparent;
    p{
        margin-bottom: 3px;
    }
    a {
        color: #999;
        display: inline-block;
        outline: none;
        transition: color .1s ease-in-out,opacity .1s ease-in-out;
    }
    a.gexin-com {
        margin-bottom: 3px;
        color: #fff;
        font-size: 14px;
        font-weight: 500;
        display: inline-block;
        outline: none;
        transition: color .1s ease-in-out,opacity .1s ease-in-out;
    }
    .hover-opacity {
        transition: opacity .1s linear;
        cursor: pointer;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) 
and (-webkit-device-pixel-ratio: 2) and (device-aspect-ratio: 40/71)
{
    .footer-main{
        position: inherit;
        padding: 0px;
    }
}