.main-banner-wrap{
    .main-banner-inner{
        .banner-img{
            height: 300px;
            background-size: cover;
            background-position: center top;
            background-repeat: no-repeat;
            display: flex;
            justify-content: center;
            align-content: start;
            padding: 25px;
        }
        .main-banner-logo{
            max-width: 540px;
            max-height: 120px;
            // margin-top: -185px;
            height: 75px;
            width: 75px;
            display: flex;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
            -ms-flex-direction: row;
            flex-direction: row;
            -webkit-box-align: end;
            -ms-flex-align: end;
            align-items: flex-end;
            position: relative;
        }
        .has-icon{
            align-items: center;
            flex-flow: column;
            justify-content: center;
            .main-banner-icon{
                height: 50px;
                // width: 50px;
            }
            h1{
                margin-top: 20px;
                color: $white;
                font-size: 2.3rem;
            }
        }
    }
}

.reload-wrap{
    background-color: #111;
    .reload-inner{
        transform: translate(0px, -146px);
        background-color: rgba(17,17,17,.7);
        border-radius: 1.6rem;
        padding:10px 0px;
        .text-center{
            h1{
                color: $white;
                font-size: 2.4rem;
            }
        }
        hr{
            border-color: #555;
        }
    }
    .card {
        position: relative;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 0;
        word-wrap: break-word;
        background-color: #222;
        background-clip: border-box;
        border: 0 solid rgba(0,0,0,.125);
        border-radius: 0.5rem;
        .card-body{
            padding-top: 1rem;
            padding-left: 2rem;
            padding-right: 2rem;
            -webkit-box-flex: 1;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            padding: 1.25rem;
            .media-row__header__title {
                font-weight: 400;
                -webkit-box-flex: 1;
                -ms-flex: 1 1 100%;
                flex: 1 1 100%;
                margin-bottom: 0;
            }
            .text--secondary, .text--secondary:active, .text--secondary:focus, .text--secondary:hover {
                color: #bbb;
            }
            .media {
                .wallet-balance-avatar{
                    border-radius: 50%;
                    overflow: hidden;
                    background-color: #bbb;
                    height: 42px;
                    width: 42px;
                    text-align: center;
                    line-height: 51px;
                    i{
                        color: $darkgrey_color;
                        // @include gradientText;
                        font-size: 30px;
                    }
                }
            }
        }
    }
    .media-body{
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        .text--truncate{
            overflow: hidden;
            text-overflow: ellipsis;
            margin-bottom: 3px;
            color: $white;
        }
        .img-icon{
            margin-right: 10px;
            .mr-icon{
                height: 17px;
                width: 17px;
                margin: 0px 6px;
            }
        }
        .media-body {
            -ms-flex-preferred-size: auto;
            flex-basis: auto;
            line-height: 1.6em;
        }
        .text--zgold{
            color: #ffb400;
        }
        .text--zsilver{
            color: #30d5ff;
        }
    }
}
.payment-methods-selection-wrap{
    .payment-method-inner{
        border-radius: 0.5rem;
        overflow: hidden;
        .method-header{
            background-color: #2e2e2e;
            padding: 0.75rem 1.25rem;
            margin-bottom: 0;
            border-bottom: 0 solid rgba(0,0,0,.125);
            h5{
                position: relative;
                color: $white;
                font-size: 16px;
                font-weight: 400;
                margin-bottom: 0px;
                vertical-align: middle;
                display: inline-flex;
                span{
                    // background:$primary_color;
                    background:$gradient;
                    height: 20px ;
                    width: 20px;
                    border-radius: 50%;
                    color: #222;
                    display: inline-block;
                    align-items: center;
                    vertical-align: middle;
                    text-align: center;
                    margin: 0px 10px;
                }
            }
        }
        .methods-listing{
            background: #222222;
            padding: 20px;
            padding-top: 0px;
        }
    }
}
#msform {
    text-align: center;
    position: relative;
    fieldset {
        border: 0 none;
        border-radius: 0.5rem;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        position: relative;
        .form-card {
            text-align: left;
            color: #9E9E9E;
            background: #222222;
            border: 0 none;
            padding: 15px;
            box-sizing: border-box;
            width: 100%;
            position: relative;
            display: flex;
            justify-content: center;
            flex-flow: column;
            align-items: center;
            .fc-title{
                font-weight: $bold;
                font-size: 24px;
                line-height: 28px;
                color: $darkgrey_color;
                text-align: center;
            }
            h2{
                color: $darkgrey_color;
                font-weight: $bold;
                font-size: 24px;
                line-height: 28px;
                text-transform: uppercase;
                text-align: center;
            }
        }
    }
    fieldset:not(:first-of-type) {
        display: none
    }
    .action-button {
        text-decoration: none;
        background: $darkgrey_color;
        color: $white;
        width: 244px;
        height: 48px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: all .3s ease;
        border-radius: 0px;
        &:hover{
            background: $primary_color;

        }
    }
}
.add-method-wrap{
    width: 100%;
    h4{
        color: $darkgrey_color;
        font-weight: $bold;
        font-size: 26px;
        line-height: 35px;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 20px;
    }
    .check-mark{
        visibility: hidden;
        width: 2em;
        height: 2em;
        position: absolute;
        border-radius: 10px 0px 0px 0px;
        overflow: hidden;
        i{
            color: #2e2e2e;
            font-size: 14px;
        }
        &:after {
            content: "\2713";
            font-size: 1rem;
            font-weight: 700;
            color: #000;
            width: 1em;
            height: 1em;
            position: absolute;
            top: 0;
            left: 0.1em;
        }
        &:before{
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            top: 0;
            left: 0;
            border-color: #44d62c transparent transparent;
            border-style: solid;
            border-width: 2.2em 2.2em 0 0;
        }
    }
    [type=radio]:not(:checked) {
        position: absolute;
        left: -9999px;
        width: 0;
        height: 0;
        visibility: hidden;
    }
    .checkbox-tools{
        display: none;
    }
    .for-checkbox-tools{
        border: 2px solid transparent;
        width: 100%;
        position: relative;
        margin: 7px 0px;
        // border-radius: 0.5rem!important;
        // &:hover{
        //     border-color: $primary_color;
        // }
    }
    .checkbox-tools:not(:checked)+label {
        position: relative;
        display: inline-block;
        width: 100%;
        overflow: hidden;
        cursor: pointer;
        text-transform: uppercase;
        color: $text_color;
        -webkit-transition: all .3s linear;
        transition: all .3s linear;
        // background-color: #f2f2f2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
    }
    .checkbox-tools:checked+label{
        .check-mark{
            visibility: visible;
        }
        .priceforthis {
            margin-top: 30px;
        }
        .stat-tag{
            visibility: visible;
        }
        .add-method{
            color: $text_color;
            border: 2px solid $primary_color;
            background-color: $white;
        }
       p{
        @include gradientText;
        font-size: 12px;
       }
    }
    p{
        margin-top: 7px;
        font-size: 12px;
    }
    .style-img{
        width: 100%;
        height: 210px;
        position: relative;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
        .search-icon{
            position: absolute;
            bottom: 10px;
            right: 10px;
            height: 30px;
            width: 30px;
            background: $white;
            border-radius: 50%;
            align-items: center;
            text-align: center;
            line-height: 2;
            color: $darkgrey_color;
            a{
                color: $darkgrey_color;
                i{
                    color: $darkgrey_color !important;
                    font-size:16px;
                }
            }
        }
    }
    .features{
        margin-top: 10px;
        ul{
            padding-left: 20px;
            li{
                text-transform: capitalize;
                color: $text_color;
                font-size: 18px;
                line-height: 36px;
                &::marker {color: $text_color}
            }
        }
    }
    .priceforthis{
        margin-top: 30px;
        h5{
            color: $darkgrey_color;
            text-transform: capitalize;
            span{
                font-weight: $bold;
            }
        }
    }
    .style-item{
        border-radius: 0.5rem!important;
        overflow: hidden;
        p{
            color: $white;
            text-align: center;
        }
    }
    .add-method{
        border-radius: 0.5rem!important;
        overflow: hidden;
        height: 78px;
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
}

.reload-step{
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: #222222;
    .method-header{
        background-color: #2e2e2e;
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        border-bottom: 0 solid rgba(0, 0, 0, 0.125);
        h5{
            position: relative;
            color: #ffffff;
            font-size: 16px;
            font-weight: 400;
            margin-bottom: 0px;
            vertical-align: middle;
            display: inline-flex;
            span{
                background: $gradient;
                // background: $primary_color;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                color: #222;
                display: inline-block;
                align-items: center;
                vertical-align: middle;
                text-align: center;
                margin: 0px 10px;
            }
        }
    }
    .amount-card-body{
        padding: 40px;
        // padding-top: 1rem;
        // padding-left: 2rem;
        // padding-right: 2rem;
        .reload-back-wrap{
            text-align: center;
            input{
                width: 100%;
                height: 43px;
                background-color: #1d1d1d;
                border: 1px solid #555;
                border-radius:3px;
                padding:10px 13px;
                color:$white;
                text-align: center;
            }
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type=number] {
            -moz-appearance: textfield;
            }
            .reload-gold-amount{
                .img-icon--medium {
                    .media-aside {
                        display: flex;
                        margin-right: 1rem;
                        img{
                            width: 1.5em;
                            height: 1.5em;
                            overflow: hidden;
                        }
                    }
                }
            }
        }
        .cta{
            color: #bbb;
            margin: 15px 0px;
            a{
                color: #bbb;
                text-decoration: none;
                &:hover{
                    color: $primary_color;
                    span{
                        i{
                            border-color: $primary_color;
                        }
                    }
                }
                
            }
            span{
                margin-right: 10px;
                i{
                    height: 18px;
                    width: 18px;
                    border: 1px solid #bbb;
                    border-radius: 50%;
                    font-size: 10px;
                    text-align: center;
                    line-height: 17px;
                }
            }
        }
        .save-payment{
            margin: 10px 0px;
            input{
                padding: 0;
                height: initial;
                width: initial;
                margin-bottom: 0;
                display: none;
                cursor: pointer;
            }
            .form-checkbox{
                text-align: center;
                label {
                   position: relative;
                   cursor: pointer;
                   color: #bbb;
                   font-weight: normal;
                   &:before {
                       content: "";
                       -webkit-appearance: none;
                       background-color: transparent;
                       border: 1px solid #bbb;
                       display: inline-block;
                       position: relative;
                       vertical-align: middle;
                       cursor: pointer;
                       margin-right: 10px;
                       width: 20px;
                       height: 20px;
                       border-radius: 3px;
                       margin-top: -6px;
                   }
               }
               &:hover{
                   label{
                       &:before{

                           border-color: $primary_color;
                       }
                   }
               }
            }
            .form-checkbox input:checked+label:before {
                border-color: $primary_color;
            }
            .form-checkbox input:checked+label:after {
                content: "\2713";
                display: block;
                position: absolute;
                top: 0px;
                left: 5px;
                font-size: 13px;
                color: $primary_color;
            }
        }
        .media-body-voucher{
            p{
                color: $white;
                margin-bottom: 0px;
            }
        }
    }
    .card-footer{
        padding-bottom: 1.5rem;
        padding-left: 2rem;
        padding-right: 2rem;
        border-radius: 0 0 0.5rem 0.5rem;
        border:0px;
        .btn-grp{
            display: flex;
            flex-wrap: wrap;
        }
        .button{
            display: inline-block;
            font-weight: 500;
            text-decoration: none;
            text-transform: uppercase;
            text-align: center;
            opacity: 1;
            border-radius: 3px;
            -webkit-transition: all .15s ease-in-out;
            transition: all .15s ease-in-out;
            color: $black;
            min-width: 240px;
            max-width: 100%;
            margin: 0px 15px;
            height: 33px;
            text-align: center;
            line-height: 33px;
        }
        .secondary-btn{
            background: $gradient;
            // background: $primary_color;
            &:hover{
                background-color: #7ce26c;
            }
        }
        .primary-btn{
            background: #bfbfbf;
        }
    }
}


// table box styling 
.table-wrapper{
    padding: 80px 0px;
    background: #111;
    .table-wrap-inner{
        .title-wrap{
            h2{
                text-transform: uppercase;
                color: $white;
                font-size: 1.5em;
                line-height: 1.5em;
                margin-bottom: 0px;
            }
            .results-info{
                text-align: right;
                .Results{
                    color: $white;
                    font-size: 18px;
                }
            }
        }
        .table {
            color: $white;
            margin-top: 30px;
            border: 1px solid #999;
            thead{
                tr{
                    background: #808080;
                    th{
                        border-bottom: 0px;
                    }
                }
            }
            tbody{
                tr{
                    td{
                        border-color: #999;
                    }
                    .result{
                        color: $primary_color;
                        a{
                            @include gradientText;
                            // color: $primary_color;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }
}

.submit-ticket-wrap{
    background: #111;
    .submit-ticket-inner{
        display: flex;
        justify-content: center;
        .form-wrap{
            padding: 70px 0px;
            width: 50%;
            .form-desclaimer{
                border: 1px solid #C8323C;
                padding: 1rem 0.8rem;
                text-align: center;
                margin: 2rem auto;
                p{
                    color: #fff;
                    font-size: 18px;
                }
            }
            .form-box{
                padding: 35px;
                background: #1d1d1d;
                text-align: right;
                h3{
                    color: $white;
                    text-align: center;
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                h4{
                    font-size: 18px;
                    color: $white;
                    margin-bottom: 0px;
                }
                p{
                    a{
                        color: #3B6DB1;
                        text-decoration: none;
                    }
                }
                label{
                    color: $white;
                    width: 100%;
                    span{
                        color: #c31c24;
                        margin: 0px 5px;
                    }
                }
                .bottom-txt{
                    color: $white;
                    font: 13px;
                }
                .form-control, select, textarea{
                    border: 1px solid #555;
                    outline: none;
                    background: transparent;
                    color: $white;
                    width: 100%;
                    text-align: right;
                    height: 50px;
                    // box-shadow: inset 0 1px 3px rgb(0 0 0 / 6%);
                }
                textarea{
                    height: 135px;
                }
                .fileInput{
                    color: $white;
                    display: flex;
                }
            }
            .confirm-button{
                display: flex;
                justify-content: center;
                margin-top: 50px;
                .cnfrm-btn{
                    height: 30px;
                    width: 240px;
                    border-radius: 4px;
                    border: 1px solid $primary_color;
                    background: $gradient;
                    color: #000;
                    text-transform: uppercase;
                    font-weight: bold;
                    &:hover{ 
                        background: #7ce26c;
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 0px) and (max-width: 576px) {
    .reload-step .card-footer .secondary-btn{
        margin-top:15px
    }
    .reload-step .card-footer .button{
        width: 100%;
        min-width: 100%;
    }
    .section-otp{
        padding: 10px !important;
        .otp-pass {
            width: 100% !important;
        }
    } 
    .section-otp .otp-pass .otc input[type="number"]{
        width: 35px !important;
        height: 45px !important;
    }
}

@media only screen and (max-width: 767px){
    .mb-result{
        text-align: center;
    }
    .submit-ticket-wrap .submit-ticket-inner .form-wrap{
        width: 100%;
    }
    #msform fieldset .form-card{
        padding: 15px 0px;
    }
    .reload-wrap .card .card-body{
        padding: 0.56rem;
    }
}