.security-wrap{
    .authentication-label{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-grow: 0;
        width: 100%;
        min-height: 60px;
        margin-bottom: 1px;
        background-color: #111;
        cursor: pointer;
        text-decoration: none;
        transition: background-color .1s ease-in-out,opacity .1s linear;
        h5{
            width: 169px;
            font-size: 16px;
            margin-bottom: 0px;
            color: $white;
        }
        .info{
            min-width: 0;
            padding: 12px 0 13px;
            margin-right: 10px;
            flex: 1 1;
            color: #888;
            font-size: 14px;
        }

    }
    .changing-options{
        .custom-radio{
            display: flex;
            align-items: center;
            position: relative;
            padding: 16px 0px 0px 0px;
            cursor: pointer;
            -webkit-user-select: none;
            -ms-user-select: none;
            user-select: none;
            input{
                position: absolute;
                opacity: 0;
                pointer-events: none;
            }
            .radio{
                border: 1px solid #555;
                position: relative;
                height: 22px;
                min-width: 22px;
                margin-right: 16px;
                border-radius: 50%;
                transition: border-color .1s ease-in-out;
                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    margin: auto;
                    background-color: #44d62c;
                    opacity: 0;
                    -webkit-transform: scale(0);
                    transform: scale(0);
                    transition: opacity .1s ease-in-out,-webkit-transform .15s ease-in-out;
                    transition: opacity .1s ease-in-out,transform .15s ease-in-out;
                    transition: opacity .1s ease-in-out,transform .15s ease-in-out,-webkit-transform .15s ease-in-out;
                }
            }
            .info{
                .title{
                    font-size: 18px;
                    color: $white;
                }
                .description{
                    color: #888;
                    font-size: 14px;
                }
            }
            input:checked+.radio:before {
                opacity: 1;
                -webkit-transform: scale(1);
                transform: scale(1);
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .security-wrap .authentication-label{
        background-color: $darkgrey_color;
    }
    .security-wrap .authentication-label h5{
        padding: 0px 0px !important;
    }
}