.transaction-tabs{
    .tabs{
        .nav-pills{
            border-bottom: 1px solid #424343;
            .icon-img{
                height: 25px;
                width: 25px;
                margin-right: 10px;
                img{
                    height: 100%;
                    width: 100%;
                }
            }
            .nav-item{
                margin: 0px 5px;
                a{
                    background: transparent;
                    color: $white;
                    border-radius: 0px;
                    &.active{
                        border-bottom: 2px solid $primary_color;
                        background: transparent;
                        // color: $primary_color;
                        @include gradientText;
                    }
                }
            }
        }
    }
    .tabs-panel{
        margin-top: 45px;
        table{
            background: transparent;
            thead{
                background: #2e2e2e;
                tr{
                    border-radius: 4px;
                }
                th{
                    padding: 0.2rem 0.5rem;
                    color: $white;
                    font-weight: 500;
                    border-bottom: 0px;
                    &:nth-child(1){
                        border-top-left-radius: 4px;
                        border-bottom-left-radius: 4px;
                    }
                    &:last-child{
                        border-top-right-radius: 4px;
                        border-bottom-right-radius: 4px;
                    }
                }
            }
            tbody{
                tr{
                    background-color: rgba(0, 0, 0, 0.253);
                    border-bottom: 1px solid #2e2e2e;
                    &:hover{
                        background: #707070;
                    }
                }
                td{
                    padding: 0.7rem;
                    color: #bbb;
                }
            }
        }
    }
}

.navigation{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    .pagination{
        .page-item{
            .page-link{
                background: transparent;
                color: $white;
            }
        }
    }
}


.ticket-wrapper{
    background: #111;
    .ticket-inner-wrap{
        margin-top: 70px;
        .ticket-req-title{
            background: #1d1d1d;
            padding: 10px;
            h1{
                font-size: 24px;
                color: $white;
                margin-bottom: 0px;
            }
        }
        .ticket-req-info{
            margin: 50px 0px;
            padding: 30px;;
            background: #1d1d1d;
            .communication-history{
                h3{
                    font-size: 2em;
                    font-weight: normal;
                    line-height: 1.25em;
                    margin-bottom: 0.2em;
                    color: $white;
                }

                .history-box{
                    margin-bottom: 2em;
                    // border: 3px solid green;
                    border: 10px solid;
                    border-image-slice: 1;
                    border-width: 5px;
                    border-image-source: linear-gradient(312deg,  #F3B939, #73D04B);
                    .history-top{
                        background-color: #CCC;
                        padding: 1em 10px;
                        position: relative;
                        .title{
                            h4{
                                color: #000;
                                font-weight: bold;
                                font-size: 18px;
                                margin-bottom: 0px;
                            }
                        }
                        .time{
                            position: absolute;
                            left: 1em;
                            color: #000;
                            font-weight: bold;
                            top: 30%;
                        }
                    }
                    .history-bottom{
                        background-color: #FFF;
                        border: 1px  solid #DDD;
                        border-width: 0 1px 1px;
                        color: #404040;
                        font-size: 1em;
                        margin-bottom: 0;
                        overflow-y: hidden;
                        overflow-x: auto;
                        padding: 1em 10px;
                        .history-desc{
                            p{
                                margin-bottom: 0px;
                            }   
                        }
                    }
                }
            }
        }
        .add-info-wrap{
            .add-info-inner{
                h4{
                    font-size: 2em;
                    font-weight: normal;
                    line-height: 1.25em;
                    margin-bottom: 0.2em;
                    color: $white;
                }
                .add-info-listing{
                    margin-top: 10px;
                    .add-info{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;
                        span{
                            // float: left;
                            font-weight: bold;
                            color: $white;
                        }
                        .info-dataValue{
                            // margin-left: 180px;
                            word-wrap: break-word;
                            p{
                                color: $white;
                                margin-bottom: 5px;
                            }
                            ul{
                                padding-left: 0px;
                                padding-right: 20px;
                                margin-bottom: 5px;
                                li{
                                    color: $white;
                                    text-align: left;
                                    direction:rtl;
                                    list-style: none;
                                    &:after{
                                        content:"\f0c8";
                                        font-family:fontawesome;
                                        color:#ffffff;
                                        margin-right:10px;
                                        font-size:4px
                                    }
                                }
                            }
                            a{
                                color: #3B6DB1;
                                padding: 0.1em 0px;
                            }
                        }
                    }
                }
            }
        }
    }
}

.transaction-history-mbl{
    background-color: #111;
    .mbl-transaction-inner{
        padding: 30px 0px;
        h4{
            text-align: center;
            color: $white;
            font-size: 20px;
        }
        .accordion-mbl{
            margin-top: 20px;
            .accordion-item{
                background: transparent;
                border: none;
                border-bottom: 1px solid #1c1c1c;
                border-radius: 0px;
                .accordion-header{
                    background: transparent;
                    border: none;
                    .accordion-button{
                        background: transparent;
                        border: none;
                        box-shadow: none;
                        padding: 10px 0px;
                        color: $white;
                        &:after{
                            background-image: url(../images/arrow.png);
                            background-size: 10px;
                            margin-left: 20px;
                            // margin-top: -13px;
                        }
                    }
                }
                .accordion-collapse {
                    .accordion-body{
                        padding: 0px;
                        ul{
                            padding: 0px;
                            li{
                                list-style: none;
                                a{
                                    color: $white;
                                    text-decoration: none;
                                    &.active{
                                        color: $primary_color;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .transaction-table-mbl{
            padding: 30px 0px;
            border-bottom: 1px solid #1c1c1c;
            .transaction-info-mbl{
                .info{
                    h5{
                        color: $white;
                    }
                    p{
                        color: #bbb;
                    }
                }
            }
            .transaction-detail-btn{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 15px;
                .transaction-detail-button{
                    width: 70%;
                    background-color: #1e1e1e;
                    color: $white;
                    text-decoration: none;
                    border: 1px solid #6a6a6a;
                    border-radius: 5px;
                    height: 30px;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }
}

.transaction-detail-wrap{
    h4{
        border-bottom: 2px solid #464646;
        color: #fff;
        padding-bottom: 10px;
    }
    .order-progress-bar{
        margin-top: 15px;
        .order-progress-inner{
            .order-timeline{
                position: relative;
                .container {
                    text-align: center;
                    padding: 0px;
                  }
                  .step{
                    h6{
                        color: $white;
                        margin-top: 10px;
                        margin-bottom: 0px;
                    }
                    p{
                        color: #707070;
                        margin-bottom: 0px;
                    }
                  }
                  
                  .progress-container {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
                    // margin-bottom: 30px;
                    max-width:100%;
                    width: 100%;
                  }
                  
                  .progress-container::before {
                    content: ''; /* must be added when using the ::before pseudoselector */
                    background-color: $primary_color;
                    position: absolute;
                    top: 23%;
                    left: 0;
                    transform: translateY(-50%); 
                    height: 4px;
                    width: 100%;
                    z-index:-1;
                  }
                  
                  
                  .progress {
                    background-color: $primary_color;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    transform: translateY(-50%); /* centers the line vertically along the y-axis */
                    height: 4px;
                    width: 0%;
                    z-index:-1;
                    transition: .4s ease;
                  }
                  .step{
                    display: flex;
                    flex-flow: column;
                    align-items: center;
                  }
                  .circle {
                    background-color: #fff;
                    color: #999;
                    border-radius: 5px;
                    height: 50px;
                    width: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border: 3px solid $primary_color;
                    transition: .4s ease;
                    justify-self: flex-end;
                    display: flex;
                  }
                  
                  .circle.active {
                    border-color: $primary_color;
                    background-image: $gradient;
                    color: $white;
                  }
                .timeline-steps{
                    display: flex;
                    &:before{
                        content: '';
                        background-color: $primary_color;
                        position: absolute;
                        top: 22%;
                        left: 0;
                        transform: translateY(-50%);
                        height: 4px;
                        width: 100%;
                        z-index: -1;
                    }
                    .step{
                        display: flex;
                        flex-flow: column;
                        align-items: center;
                        justify-content: center;
                        position: relative;
                        i{
                            height: 50px;
                            width: 50px;
                            border: 2px solid $primary_color;
                            border-radius: 5px;
                            text-align: center;
                            line-height: 50px;
                            font-size: 25px;
                        }
                        h6{
                            color: $white;
                        }
                        p{
                            color: #6a6a6a;
                        }
                        // &:after{
                        //     background-color: #f3f3f3;
                        //     content: "";
                        //     height: 5px;
                        //     left: 0;
                        //     position: absolute;
                        //     right: 0;
                        //     top: 50%;
                        //     transform: translateY(-50%);
                        //     width: 100%;
                        //     border-bottom: 1px solid #dddddd;
                        //     border-top: 1px solid #dddddd;
                        // }
                    }
                }
            }
        }
    }
}
.transacton-detail-info{
    p{
        color: #a0a0a0;
        span{
            color: $white;
        }
    }
    .product-info{
        margin-top: 40px;
        p{
            margin-bottom: 0px;
        }
        span{
            @include gradientText;
            // color: $primary_color;
            // background: $gradient;
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
        }
    }
    .transaction-info{
        margin-top: 40px;
        p{

        }
        .trans-info-item{
            margin-bottom: 20px;
            h6{
                text-transform: uppercase;
                margin-bottom: 0px;
                color: #a0a0a0;
                font-size: 16px;
            }
            p{
                color: $white;
                margin-bottom: 0px;
                font-size: 18px;
                display: flex;
                align-items: center;
                img{
                    height: 16px;
                    width: 16px;
                    margin: 0px 10px;
                }
            }
        }
    }
    .promiotion-wrap{
        margin-top: 20px;
        padding: 30px 0px;
        border-top: 1px solid #707070;
        border-bottom: 1px solid #707070;
        h6{
            color: #a0a0a0;
        }
        ul{
            padding:0px;
            li{
                color: $white;
                display: flex;
                align-items: center;
                margin-bottom: 0px;

                img{
                    height: 16px;
                    width: 16px;
                    margin: 0px 10px;
                }
            }
        }
    }
    .status{
        margin-top: 20px;
        h6{
            color: #a0a0a0;
            text-transform: uppercase;
        }
        p{
            // color: $primary_color;
            @include gradientText;
        }
    }
}



@media only screen and (max-width: 767px){
    .ticket-wrapper .ticket-inner-wrap .ticket-req-info .communication-history .history-box .history-top .time{
        position: initial;
    }
    // .ticket-wrapper .ticket-inner-wrap .add-info-wrap .add-info-inner .add-info-listing .add-info .info-dataValue{
    //     margin-left: 120px;
    // }
}