$primary_color: #37b659;
$darkgrey_color:#222;
$text_color: #5A5A5A;
$light_text:#A8A9AD;
$body_color:#ffffff;
$semi_bold:600;
$bold:bold;
$white: #ffffff;
$black: #000;
$button_hover:-5px 1px 9px rgba(0, 0, 0, 0.25);
$ease_transition:all .3s ease;
$main_body_color : #222222;
$gradient: linear-gradient(312deg,  #F3B939, #73D04B);
// font sizes
$font_text: 'Clio';
// Responsive Variables
$xsmall: 575px; // 576
$small: 767px; // 768
$medium: 991px; // 992
$large: 1199px; // 1200
$xlarge: 1200px;

@mixin gradientText{
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

// @mixin gradient($args1,$args2){
//     -webkit-linear-gradient:(0deg, $args1, $args2);
//        -moz-linear-gradient:(0deg, $args1, $args2);
//          -o-linear-gradient:(0deg, $args1, $args2);
//            -linear-gradient:(0deg, $args1, $args2);
// }